*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}

.form-group{
  margin: 0;
  padding: 0;

}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.header{
  height: 80px;
  background: #ffaa0c;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.header--logo{
  width: 50%;
}

.logo--logo{
  width: 100%;
}

/* .text--book{
  float: left;
} */

.img-book{
  width: 100%;
}

.btn-book{
  background: black;
  color: white;
}

.btnSubmit{
  float: left
}